.chat {
  height: 100vh;
  width: 100vw;
}
.chat .sendbird-channel-list .sendbird-place-holder {
  display: none;
}
.chat .sendbird-channel-preview .sendbird-channel-preview__avatar,
.chat .sendbird-channel-list .sendbird-avatar,
.chat .sendbird-channel-list .sendbird-avatar .sendbird-avatar-img--default {
  width: 32px !important;
  height: 32px !important;
}
.chat .sendbird-channel-list .sendbird-avatar .sendbird-icon {
  width: 24px !important;
  height: 24px !important;
  min-width: 24px !important;
  min-height: 24px !important;
}
.chat
  .sendbird-channel-preview
  .sendbird-channel-preview__content
  .sendbird-channel-preview__content__upper__header__channel-name {
  font-weight: 400;
}
.chat
  .sendbird-channel-preview
  .sendbird-channel-preview__content
  .sendbird-channel-preview__content__upper {
  width: 100%;
}
.chat
  .sendbird-channel-preview
  .sendbird-channel-preview__content
  .sendbird-channel-preview__content__lower {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 18px;
  width: 100%;
  margin-top: 0;
}
.sendbird-theme--light .chat .sendbird-channel-preview--active {
  border-left: 0;
}
.chat .sendbird-channel-preview--active,
.chat .sendbird-channel-preview {
  padding: 12px 8px;
}
.chat .sendbird-channel-preview {
  height: auto;
}
.chat .sendbird-channel-preview .sendbird-channel-preview__content {
  margin-left: 12px;
}
.chat .sendbird-channel-preview .sendbird-channel-preview__action {
  top: 0;
  right: 0;
}
.chat
  .sendbird-channel-preview
  .sendbird-channel-preview__action
  .sendbird-iconbutton {
  width: 24px !important;
  height: 24px !important;
  padding: 0;
}
.chat
  .sendbird-channel-preview
  .sendbird-channel-preview__action
  .sendbird-iconbutton
  .sendbird-icon {
  width: 16px !important;
  height: 16px !important;
  min-width: 16px !important;
  min-height: 16px !important;
}
.chat .sendbird-message .sendbird-avatar,
.chat .sendbird-message .sendbird-user-message__sender-name {
  display: none;
}
.chat .sendbird-user-message--incoming {
  padding-left: 0;
}
.sendbird-theme--light
  .chat
  .sendbird-user-message--outgoing
  .sendbird-user-message__text-balloon
  .sendbird-user-message__text-balloon__inner,
.sendbird-theme--light .chat .sendbird-label--color-oncontent-1,
.sendbird-theme--light
  .chat
  .sendbird-channel-preview--active
  .sendbird-channel-preview__content__upper__header__channel-name,
.chat
  .sendbird-channel-preview
  .sendbird-channel-preview__content
  .sendbird-channel-preview__content__lower__last-message {
  color: #121212;
}
